services:
	-
		class: Quant\PHPStan\Rules\Properties\QuantAccessorAttributeReadWriteExtension

		tags:
			- phpstan.properties.readWriteExtension

	-
		class: Quant\PHPStan\Reflection\QuantAccessorMethodReflectionExtension

		tags:
			- phpstan.broker.methodsClassReflectionExtension